@import '../../../variables.scss';
.UserLoggedInModal__whole-page {
  height: 100vh;
  width: 100vw;
  background: $background-two;
  position: absolute;
  top: 0;
  left: 0;
  @include flex-center;
  .whole-page__modal {
    animation: opacify 1s ease forwards;
    width: 60%;
    height: 60%;
    background: $primary;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    .modal__title {
      font-size: 2rem;
      color: $text-light;
      margin: 5% 0%;
    }
    .modal__sub-title {
      color: $text-light;
      font-size: 1.6rem;
    }
  }
}
.UserLoggedInModal__opacity-layer {
  height: 100vh;
  width: 100vw;
  background: $background-two;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  animation: opacifyPartial 1s ease forwards;
}

@keyframes opacifyPartial {
  0% { opacity: 0; }
  100% { opacity: 0.7; }
}

@keyframes opacify {
  0% { opacity: 0; }
  100% { opacity: 1; }
}