@import '../../../variables.scss';
.TestDisplay__test-display {
  @include greyMiddleBox;
  .add-test__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
    border: 1px $primary;
    border-bottom-style: solid;
    margin: 2% 0%;
    .header__title {
      color: $primary;
      font-size: 2rem;
    }
    .header__add {
      button {
        min-width: 60px;
        min-height: 40px;
        @media only screen and (min-width: 650px) {
          min-width: 90px;
          min-height: 60px;
        }
        @media only screen and (min-width: 850px) {
          min-width: 105px;
          min-height: 70px;
        }
        @media only screen and (min-width: 1000px) {
          min-width: 120px;
          min-height: 80px;
        }
        height: 100%;
        font-size: 2rem;
        border: 1.2px solid lighten($primary, 10%);
        color: lighten($primary, 10%);
        border-radius: 2px;
        transition: all 0.5s;
        background: none;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .TestDisplay__see-more {
    margin: 1% 0%;
    @include flex-center;
    button {
      border: none;
      background: none;
      margin: 0% 3%;
      font-size: 1.6rem;
      color: lighten($primary, 20%);
      padding: 1% 2%;
      border: solid 1px lighten($primary, 20%);
      // &.rotated {
      //   transform: rotate(180deg);
      // }
      &:focus {
        outline: none;
      }
    }
  }
}