@import '../../../../variables.scss';
  .AddTestModalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    form {
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 3% 8%;
      &::-webkit-scrollbar {
        display: none;
      }
      .form__button {
          height: 100%;
          font-size: 1.6rem;
          border: 1.2px solid $text-light;
          color: $text-light;
          border-radius: 2px;
          transition: all 0.2s;
          background: none;
          width: 30%;
          min-width: 120px;
          cursor: pointer;
          align-self: center;
          &:hover {
            transform: scale(1.05);
          }
      }
      label {
        color: $text-light;
        display: flex;
        flex-direction: column;
        margin: 8px 0%;
        font-size: 1.4rem;
        input {
          margin: 5px 0%;
          font-size: 1.2rem;
          padding: 0px 3px;
        }
        textarea {
          font-size: 1.2rem;
          margin: 1% 0%;
          min-height: 150px;
          padding: 0px 3px;
        }
      }
    }
  }
// .AddTestModal__opacity-layer {
//   height: 100%;
//   width: 100%;
//   background: $background-two;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   z-index: 2;
//   animation: opacifyPartial 1s ease forwards;
// }

// @keyframes opacifyPartial {
//   0% { opacity: 0; }
//   100% { opacity: 0.7; }
// }

// @keyframes opacify {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }