$primary: #14235C;
$text-light: #ffff;
$text-dark: #000000;
$background-one: #ffff;
$background-two: #eeee;
$interview: rgb(0, 88, 0);
$rejected: rgb(122, 0, 0);

@mixin flex-center { 
  display: flex; 
  align-items: center;
  justify-content: center;
}

@mixin greyMiddleBox {
  background: $background-two;
  border-radius: 5px;
  padding: 1.5% 3%;
  margin: 2% 5%;
}