$primary: #14235C;
$text-light: #ffff;
$text-dark: #000000;
$background-one: #ffff;
$background-two: #eeee;
$interview: rgb(0, 88, 0);
$rejected: rgb(122, 0, 0);

@mixin flex-center { 
  display: flex; 
  align-items: center;
  justify-content: center;
}