@import '../../variables.scss';

.Nav__nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  position: fixed;
  background: $primary;
  top: 0;
  z-index: 2;
  .nav__nav-inner {
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    .nav-inner__logo {
    color: white;
    font-size: 2.2rem;
    }
    .nav-inner__nav-buttons {
      @include flex-center;
      height: 100%;
      .nav-buttons__button {
        min-width: 160px;
        height: 60px;
        margin: 0 10px;
      }
    }
    .nav-inner__hamburger {
      background: transparent;
      border: none;
      img {
        height: 30px;
      }
      &:focus {
        outline: none;
      }
    }
  }
}