@import '../../variables.scss';

.Nav__nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  background: $primary;
  .nav__nav-inner {
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    .nav-inner__logo {
    color: white;
    font-size: 1.6rem;
    }
    .nav-inner__nav-buttons {
      display: flex;
      max-width: 500px;
      height: 60%;
      .nav-buttons__button {
        width: 33%;
        min-width: 150px;
        height: 100%;
      }
    }
  }
}